@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFF;
}

body {
  background: var(--background);
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    #2DD4BF 0deg 180deg,
    #818CF8 180deg 270deg,
    #FB7185 270deg 360deg
  );
}

.donut-chart .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
